 *{
    font-family: MuseoModerno;
    font-size: 18px;
    
}

 body {
    background-image: url(maths.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.9;

} 


 .cal{
    font-family: Orbitron;
    font-size: 32px;
}
.btncont{
    width: 98%;
    margin: auto;
    text-align: center;
    margin: 0.5px;
}

.btn {
    width: 22%;
    height: 45px;
    margin: 0.5px;

}
